.banner-sec {
  background-image: url("assets/images/banner.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 886px;
}

.banner-text {
  color: #6d6d6d;
  font-weight: 500;
  position: relative;
  right: 50px;
}

.form-txt {
  font-size: 24px;
  color: #6d6d6d;
  font-weight: 600;
}

.req-btn {
  margin-left: 20px;
  float: right;
}

input {
  color: #6d6d6d !important;
  padding: 30px 0px 30px 15px !important;
  border: 2px solid #dcdcdc !important;
  border-radius: 10px !important;
}

.btn-form {
  border-radius: 30px;
  padding: 15px 45px 15px 45px;
  background-color: #333333 !important;
  font-weight: 600;
  font-size: 14px;
}

.req-form {
  background-color: #ffffff;
  padding: 50px 40px 30px 40px;
  border-radius: 30px;
  width: 60%;
  margin-left: 30%;
}

.banner-h {
  color: #333333;
  font-weight: 600;
  font-size: 46px;
}

.btn-sec-1 {
  border-radius: 20px;
  padding: 12px 25px 12px 25px;
  background-color: #333333 !important;
  font-weight: 600;
  font-size: 14px;
}
.btn-sec-1:hover {
  background-color: #333333 !important;
}

.sec-1-text {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.sec-1-num {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.s-h {
  font-weight: 700;
  color: #333333;
}
.s-d {
  width: 40%;
  margin-left: 30%;
}
.s-p {
  font-weight: 500;
  font-size: 13px;
}
.s-t {
  font-size: 20px;
  font-weight: 600;
}

.lh-1 {
  line-height: 1;
}

.sec-3-con {
  height: 450px;
  position: relative;
}

.sec-3 {
  height: 450px;
}
.sec-3-dev {
  height: 414px;
}
.sec-3-laun {
  height: 426px;
}

/* .connector {
  position: absolute;
  left: 20%;
  top: 22%;
  right: 80%;
}
.connector-img {
  width: 122px;
  height: 108px;
} */

@media screen and (max-width: 800px) {
  .banner-sec {
    background-image: none !important;
    height: auto;
  }
  .sec-1-text {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
  }
  .req-form {
    background-color: #edb121;
    padding: 50px 40px 30px 40px;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .req-btn {
    margin: 0;
    float: none;
  }
  .form-txt {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
  }
  .sec-1-num {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
  }
  .banner-text {
    text-align: center;
    margin: 30px 0px 30px 0px;
    right: 0;
  }
  .btn-sec-1 {
    border-radius: 20px;
    padding: 12px 25px 12px 25px;
    background-color: #333333 !important;
    font-weight: 600;
    font-size: 14px;
    margin: 20px 0px 10px 0px;
  }
  .connector,
  .connector-1,
  .connector-2,
  .connector-3 {
    display: none;
  }
  .sec-3,
  .sec-3-dev,
  .sec-3-laun {
    height: auto;
  }
  .sec-3-con {
    height: auto;
    position: relative;
  }
  .brand-logo {
    text-align: center !important;
  }
  .h-text {
    text-align: center !important;
    margin: 20px 0px 0px 0px;
  }
  .h-btn {
    text-align: center !important;
    margin: 10px 0px 50px 0px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1339px) {
  .connector-img {
    width: 122px;
    height: 108px;
  }
  .connector {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 0;
  }
  .connector-img-1 {
    width: 122px;
    height: 108px;
  }
  .connector-1 {
    position: absolute;
    left: 37.6%;
    top: 20%;
    z-index: 0;
  }
  .connector-img-2 {
    width: 122px;
    height: 108px;
  }
  .connector-2 {
    position: absolute;
    left: 53%;
    top: 20%;
    z-index: 0;
  }
  .connector-img-3 {
    width: 122px;
    height: 108px;
  }
  .connector-3 {
    position: absolute;
    left: 71%;
    top: 20%;
    z-index: 0;
  }
}

@media screen and (min-width: 801px) and (max-width: 980px) {
  .banner-sec {
    background-image: url("assets/images/banner.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 570px !important;
    height: 570px !important;
  }
}
@media screen and (min-width: 981px) and (max-width: 1100px) {
  .banner-sec {
    background-image: url("assets/images/banner.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 620px !important;
    height: 630px !important;
  }
}
/* @media screen and (min-width: 111px) and (max-width: 1339px) {
  .banner-sec {
    background-image: url('assets/images/banner.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 780px !important;
    height: 790px !important;
  }
} */

@media screen and (min-width: 1340px) and (max-width: 1540px) {
  .connector-img {
    width: 122px;
    height: 108px;
  }
  .connector {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 0;
  }
  .connector-img-1 {
    width: 122px;
    height: 108px;
  }
  .connector-1 {
    position: absolute;
    left: 37.7%;
    top: 20%;
    z-index: 0;
  }
  .connector-img-2 {
    width: 122px;
    height: 108px;
  }
  .connector-2 {
    position: absolute;
    left: 53%;
    top: 20%;
    z-index: 0;
  }
  .connector-img-3 {
    width: 126px;
    height: 108px;
  }
  .connector-3 {
    position: absolute;
    left: 71.1%;
    top: 20%;
    z-index: 0;
  }

  .banner-sec {
    background-image: url("assets/images/banner.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 886px;
    height: 900px;
  }
}

@media screen and (min-width: 1541px) and (max-width: 1940px) {
  .connector-img {
    width: 250px;
    height: 160px;
  }
  .connector {
    position: absolute;
    left: 18%;
    top: 17%;
    z-index: 0;
  }
  .connector-img-1 {
    width: 250px;
    height: 160px;
  }
  .connector-1 {
    position: absolute;
    left: 35%;
    top: 17%;
    z-index: 0;
  }
  .connector-img-2 {
    width: 250px;
    height: 160px;
  }
  .connector-2 {
    position: absolute;
    left: 52%;
    top: 17%;
    z-index: 0;
  }
  .connector-img-3 {
    width: 280px;
    height: 160px;
  }
  .connector-3 {
    position: absolute;
    left: 67%;
    top: 17%;
    z-index: 0;
  }

  .banner-sec {
    background-image: url("assets/images/banner.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1148px;
    height: 1148px;
  }
}

@media screen and (min-width: 1941px) and (max-width: 2560px) {
  .connector-img {
    width: 360px;
    height: 170px;
  }
  .connector {
    position: absolute;
    left: 18%;
    top: 17%;
    z-index: 0;
  }

  .connector-img-1 {
    width: 360px;
    height: 170px;
  }
  .connector-1 {
    position: absolute;
    left: 34%;
    top: 17%;
    z-index: 0;
  }
  .connector-img-2 {
    width: 360px;
    height: 170px;
  }
  .connector-2 {
    position: absolute;
    left: 51%;
    top: 17%;
    z-index: 0;
  }
  .connector-img-3 {
    width: 360px;
    height: 170px;
  }
  .connector-3 {
    position: absolute;
    left: 68%;
    top: 17%;
    z-index: 0;
  }

  .banner-sec {
    background-image: url("assets/images/banner.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1268px;
    height: 1268px;
  }
}
