.s-h {
  font-weight: 700;
  color: #333333;
}
.s-d {
  width: 40%;
  margin-left: 30%;
}
.s-p {
  font-weight: 500;
  font-size: 13px;
}
.s-t {
  font-size: 20px;
  font-weight: 600;
}

.lh-m {
  line-height: 1;
}

.lh-p {
  line-height: 1.3;
}
